html {
    padding: 0;
    border: 0;
}

body i {
    font-family:'FontAwesome'!important;
}

a:hover {
    color: hotpink !important;
}

a:link, a:visited {
    color: orange;
}

/* The following selectors are applied to the homepage main section */
.home-page {
    background-image: url("http://i63.tinypic.com/25an9xw.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
}

.home-page__text {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 100px;
    width: 100%;
    /* This will be inhertied to h1 which is the only child */
    text-align: center;
}

h1 {
    font-family: 'Yantramanav', sans-serif;
    line-height:1.3; 
    font-size:35px;
    color: black;
    font-weight: 900;
    letter-spacing: 1em;
    text-indent: 1.9em;
    word-spacing: -0.9em;
}



/* The following selectors are applied to the summary boxes */
.boxes {
    overflow: auto;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
}
#info-box1 {

    background-color: #616161; 
    width:50%;
    height: 400px;
    position: relative;
    float: left;
}
    
.info-text {
    text-align: left;
    position: absolute;
    margin-right: 75px;
    margin-left: 75px;
    transform: translateY(-50%);
    top: 50%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1.55;
    color: #90caf9;
}

#info-box2 {
    background-color: #547AA1;
    width: 50%;
    border-left: 2px solid white;
    height: 400px;
    text-align: center;
    position: relative;
    float: right;
}

#avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:200px;
    margin-top: 50px;
    margin-bottom: 35px;
}

#icon-list {
    display: flex;
    direction: row;
    /* This is a bit nasty... */
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-102px);
    font-size:40px;
}

#icon {
    color: #424242;
    margin-right: 22px ;
}

/* The following selectors are applied to the "Featured Projects" header */

#code-image {
    background-image: url("images/codeImage.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    border-right: 2px white solid;
    width: 70%;
    height: 150px;
    float: left;
}

#featured-header {
    position: relative;
    background-color: #616161; 
    width: 30%;
    height: 150px;
    float: right;
}

#featured-title {
    position: absolute;
    bottom: 7px;
    right: 10px;
}

.featuredTitleSection {
    overflow: auto;
    border-bottom: 2px white solid;
}

/* The following selectors are applied to the featured projects content */
section {
    display: flex;
    flex-wrap: wrap;
}

.zoom-container {
    width: 50%;
    height:350px;
    border-bottom: 2px white solid;
    overflow: hidden;
}

.clickable-box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* absolute children will only be placed relative to the 
     * NON-STATIC parent */
    position: relative;
    transition: all .4s ease-in-out;
}

.clickable-box:hover {
    transform: scale(1.07);
    overflow: hidden;
    color: hotpink;
}

#first-box {
    background-image: url("http://i67.tinypic.com/walee1.png");
}
#second-box{
    background-image: url("http://i66.tinypic.com/160x0ef.png");
}

#third-box{
    background-image: url("http://i68.tinypic.com/i5d4bo.png");
}

#fourth-box{
    background-image: url("http://i66.tinypic.com/14jrbqb.png");
}

#fifth-box{
    background-image: url("http://i65.tinypic.com/1mejt.png");
}
#sixth-box{
    background-image: url("http://i68.tinypic.com/icp7cz.png");
}
.left-box {
    border-right: 2px white solid;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 40%;
    text-align: center; 
    width: 100%;
}

